@import '../../utils/mixins';
@import '../../utils/variables';

.page {
    @include content();

    @media (min-width: $breakpoint-sm) {
        flex: 0 0 83.3%;
        max-width: 83.3%;
    }

    &-container {
        width: 100%;
        padding: 0 15px;
        margin: 20px auto 0;

        @media (min-width: $breakpoint-sm) {
            max-width: 540px;
        }

        @media (min-width: $breakpoint-md) {
            max-width: 720px;
        }

        @media (min-width: $breakpoint-lg) {
            max-width: 960px;
        }

        @media (min-width: $breakpoint-xl) {
            max-width: 1140px;
        }
    }

    &-content-wrapper {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: 0 -15px;
    }
}
