.items-component {
    min-width: 500px;
    max-width: 1000px;
    /*width: 100%;*/
    padding: 10px;
    margin: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75); /* duplicated component */
}

.items-component-title {
    text-align: left;
    font-weight: normal;
    color: gray; /* duplicated component */
    font-size: 40px;
}